html {
    background-image: url("../images/BETTER_BACKGROUND.png");
    background-size: 100vw;
}

@font-face {
    font-family: "Halloween";
    src: url("../fonts/SHLOP.ttf");
    font-style: normal;
}

h1 {
    font-size: 5vw;
    background-color: rgba(255, 160, 122, 55%);
    border-radius: 50vw;

    text-align: center;
    border: 0.01vw solid black;
    padding: 1.2vw;
    margin:auto;

    font-family: "Halloween";
}

body {
    align-items: center;
    width: 95vw;
}

.container {
    display: flex;
    justify-content: center;
}

img {
    display: block;
    border: 0.01vw solid black;
    background-color: white;
    border-radius: 10px;
    padding: 3vw;
    margin: 0.8vw;
    max-width: 80%;
}