html {
    background-image: url("../images/background.png");
}

@font-face {
    font-family: "Halloween";
    src: url("../fonts/SHLOP.ttf");
    font-style: normal;
}
h1 {
    font-size: 5vw;
    background-color: lightsalmon;
    border-radius: 200px;

    text-align: center;
    border: 1px solid black;
    padding:40px;
    margin:auto;

    font-family: "Halloween";
}

body {
    align-items: center;
    width: 95vw;
}

.container {
    display: flex;
    justify-content: center;
}

img {
    display: block;
    border: 1px solid black;
    background-color: white;
    border-radius: 75px;
    padding:40px;
    margin: 0;
    max-width: 80%;
}